@charset "EUC-KR";
@import url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/stylesheets/NotoSansKR-Hestia.css);
input, textarea, select, button {
    font-family:'Noto Sans Korean','Malgun Gothic','맑은고딕','돋움',dotum, sans-serif;font-size:16px;color:black;line-height:1.5;letter-spacing:0;vertical-align:middle;
}
input, textarea {
    margin:0;padding:0;  background:none; box-sizing:border-box;
}
table.bound{
    border-collapse: collapse;
    border:1px solid black;
    height:460px;
    width: 260px;
    background-color: silver;
    
   
}
td.bound {
    border:1px solid blue;
}
#selMenu,#selOrder,#selSales,#selMenu1,#selSales1,#selSales2 {
    width: 260px;
}
#btnReset, #btnAdd, #btnCancel, #btnDone, #clean #btnPlus, #btnMinus, #btnUpdate,
#clean, #btnMenu,#btnSum{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom:1px solid #ccd827;
    
}
body {
    background: #ccda0f;
    
    
}
#capt1 {
    font-size: 20px;
    font-weight: 700;
    font-family: 맑은고딕;
}
#dlgMenu,#dlgSales {
    display: none;
}
#_menuname{
    width:120px;
}
#_price{
    width: 80px;
}